

.container{
  display: grid;
  grid-template-columns: minmax(160px,1fr) 3fr 300px;
  grid-template-areas: 
    "header header header"
    "sidenav content tickets"
    "footer footer footer"
  ;}


/* .title{
  color:#52bfe3;
}
#static {
  position: static;
  border: 3px solid #73AD21;
}
#relative {
  position: relative;
  top:200px;
  border: 3px solid #73AD21;
  grid-row: 1 ;
  grid-column: 2 ;
}
#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

#absolute{
  position: absolute;
  border: 3px solid #73AD21;
  top:200px
}

.relative-absolute{
  grid-row: 1 / 3 ;
  grid-column: 3 ;
  position: relative;
  border: 3px solid white;
}

.large-row{
  grid-template-rows: repeat(3,200px);
}

.fake{
  opacity: 50%;
  position: static !important;
  border: dashed !important;
  text-align: center;

} */
/* .dropdown-content {
  display: none;
  position: absolute;
  background-color: hsl(195, 73%, 10%);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px hsl(165, 100%, 30%);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.menu{
  display: grid;
  grid-template-columns: repeat(4,minmax(200px,1fr));
  grid-template-rows: auto;
  
}

.item{
  text-align: justify;
  margin-bottom: 10px;

}
.item > div{
  text-align: center;
}

.redbox{
  position: relative;
  bottom: -10%;
  background-color: hsl(225, 31%, 31%);

  background-color:hsl(250, 13%, 23%)
} */