
body{
  background-color:#15141a;
  color: #fff;
  font-family: 'Inter', sans-serif;
  /* border:0px; */
  /* margin:0px;
  padding: 0px; */
}

a{
  color: #6EBF8B;
}

.menu{
  margin-top: 10px;
}

.logo-img{
  width: 500px;
  height: 300px;
  transition: 0.3s;
}

.logo-img:hover{
  transform: translateY(-10px);
}

ul{
  display: flex;
  list-style: none;
  justify-content: center;
}

li + li{
  margin-left: 30px;
}

.example{
  width: 60%;
}

.title-html{
  color:#ee6224
}

.subtitle{
  color: #e03661;

}
