.title{
  color:#52bfe3;
}
#static {
  position: static;
  border: 3px solid #73AD21;
}
#relative {
  position: relative;
  top:200px;
  border: 3px solid #73AD21;
  grid-row: 1 ;
  grid-column: 2 ;
}
#fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  border: 3px solid #73AD21;
}

#absolute{
  position: absolute;
  border: 3px solid #73AD21;
  top:200px
}

.relative-absolute{
  grid-row: 1 / 3 ;
  grid-column: 3 ;
  position: relative;
  border: 3px solid white;
}

.large-row{
  grid-template-rows: repeat(3,200px);
}

.fake{
  opacity: 50%;
  position: static !important;
  border: dashed !important;
  text-align: center;

}
.box{
  text-align: justify;
}
.box > div{
  text-align: center;
}